$schedule-width: 90%;
$secondary-text-color: #404040;

* {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  overflow-y: hidden;
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-position: center;
  margin: 0;
}

h1 {
  color: white;
  margin: 0 auto;
  width: $schedule-width;
  padding: 0.5em;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.17);
}

.schedule {
  display: flex;
  flex-direction: row;
  width: $schedule-width;
  margin: 0 auto;

  .day {
    width: $schedule-width / 5;

    .day-title {
      color: $secondary-text-color;
      font-weight: 200;
      font-size: 18px;
    }

    .subjects {
      .subject {
        .time {
          color: $secondary-text-color;
          font-weight: 200;
          font-size: 12px;
          margin-bottom: -0.4em;
        }

        .subject-title {
          margin-bottom: 1em;
        }
      }
    }
  }

  // Small screens
  @media screen and (max-width: 1200px) {
    flex-direction: column;
    .day {
      width: $schedule-width;
    }
  }
}

.card {
  background-color: rgba(255, 255, 255, 0.42);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  padding: 1em;
  margin: 1em;

  // Blur background
  backdrop-filter: blur(8px);
}
