* {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
  overflow-y: hidden;
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-position: center;
  margin: 0;
}

h1 {
  color: white;
  margin: 0 auto;
  width: 90%;
  padding: 0.5em;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.17);
}

.schedule {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 90%;
  margin: 0 auto;
}

.schedule .day {
  width: 18%;
}

.schedule .day .day-title {
  color: #404040;
  font-weight: 200;
  font-size: 18px;
}

.schedule .day .subjects .subject .time {
  color: #404040;
  font-weight: 200;
  font-size: 12px;
  margin-bottom: -0.4em;
}

.schedule .day .subjects .subject .subject-title {
  margin-bottom: 1em;
}

@media screen and (max-width: 1200px) {
  .schedule {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .schedule .day {
    width: 90%;
  }
}

.card {
  background-color: rgba(255, 255, 255, 0.42);
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  padding: 1em;
  margin: 1em;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}
/*# sourceMappingURL=styles.css.map */