<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,700;1,400&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
    <h1>School schedule</h1>

    <!-- = table -->
    <div class="schedule" id="schedule">
      <div class="day card" v-for="entry in schedule">
        <div class="day-title">{{ entry.day }}</div>
        <!-- = tr -->
        <div class="subjects">
          <!-- = td -->
          <div class="subject" v-for="subjectEntry in entry.subjects">
            <div class="time">{{ subjectEntry.time }}</div>
            <div class="subject-title">{{ subjectEntry.subject }}</div>
          </div>
        </div>
      </div>
    </div>

    <!-- Vue JS -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

    <!-- Custom JS -->
    <script src="index.js"></script>
  </body>
</html>
